#navbar{
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    font-size: 1.5rem;
    
    
}

#navbar a{
    text-align: end;
    color: white;
    margin: 0 2rem;
    font-family: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
    
}
header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left: 0;
    right: 0;
}