#navbar{
    display: flex;
    margin: 0 1rem;
    font-size:24px;
    font-family: #F9FAF8;
}

#navbar a{
    text-align: right;
    color: white;
    margin: 0 2rem;
    font-family: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
   
}

footer{
    background-color: #1F2937;
    height: 60px;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 10px;
}
.boxes {
    height: 140px;
    padding: 16px;
    background: white;
    display: flex;
  }
  
  .item {
    width: 60px;
    height: 60px;
    border: 4px solid skyblue;
    

  }