.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* shared */
header, footer{
    background-color: #1F2937;
    color: #F9FAF8;
   
}
nav, .box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:
    space-evenly;

}
.logo{
    font-size:24px;
}
a{
    
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    padding-left: 10px; 
}

.box1{
    height: 250px;

}

/* shared */
.box3, .box2, .box4, .buttonbox, .boxes, .buttonbox, .box3{
    justify-content: center;
    align-items: center;
}


body{
    margin: auto;
}

.boxes {
    display: flex;
    flex-direction: row;
    padding: 0 35px; 
    height: 300px;
    gap: 50px;
  }
  
  .item {
    width: 90px;
    height: 90px;
    border: 4px solid skyblue;
    border-radius: 15px;
  }

.box3 {
    display: flex;
    background-color: #E5E7EB;
    font-style: 36px light italic #1F2937;  
    height: 300px;
}
.quote{
    
}
.box4 {
   
    height: 300px;
}

.buttonbox { 
    display: flex;
    background-color:#3882F6;
    gap: 35px;
    height: 200px;
}
.btn {
    background-color: #3882F6;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
}
footer{
    height: 80px;
    
}

